{% extends "allViewTemplate.html" %}
{% block body %}
<div style="width: fit-content">
  <section class="hero is-primary">
    <div class="hero-body viewHero">
      <p class="title viewTitle" style="color:#fad338">
        All Exchange-Traded Stocks
      </p>
    </div>
</section>

  <table class="table viewTable is-bordered">
    <thead>
      <tr class="viewHero">
        <th>Ticker</th>
        <th>Company Name</th>
        <th>Stock Price</th>
        <th>Market Capitalisation</th>
        <th>Stock Volume</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in allStocks %}
      <tr>
        <th><a href="{{url_for('view.viewCertainStock', ticker=stock[0])}}">{{stock[0]}}</a></th>
        <th>{{stock[1]}}</th>
        <th>{{stock[2]}}</th>
        <th>{{stock[3]}}</th>
        <th>{{stock[4]}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{{ super() }}
{% endblock %}
