{% extends "template.html" %}
{% block content %}
<div class="section">
  <div class="content">
    <h3 class="title">Compliance Measures at Helium</h3><br>
    <h5 class="subtitle">This outlines the compliance measures the exchange attempts to take, to ensure transparency in operations.</h5>
    <p>We take a serious view to compliance here. We have logging systems in place, and once a week we are willing to give a full log of every trade and cash transaction to <br>
       the Department for Education and Commerce, as well as a full accounts and assets list. These will be deposited in the (hidden) compliance channels on our Discord server, <br>
       so please, if you are a representative of the DEC, please do join the server and we will give you access to these channels.</p>
  </div>
</div>
{% endblock%}
